name: caller_workflow

on: 
  workflow_dispatch:
    inputs:
      name: 
        description: "Who to greet"
        default: "A"

env:
  DAY_OF_WEEK: Monday
  input_branch_name: ${GITHUB_REF##*/}

jobs:
  
  print-variable:
  
    outputs:
      output1: ${{ steps.step1.outputs.test }}
#       output2: ${{ steps.step2.outputs.secondword }}
    
    runs-on: ubuntu-latest
    
    
    steps:
    
      - uses: actions/checkout@v2
        with:
         fetch-depth: 2
      
      - id: step1
        run: echo "::set-output name=test::${GITHUB_REF##*/}"
#       - id: step2
#         run: echo "::set-output name=secondword::${GITHUB_REF##*/}"

      
      - name: printing branch name
        run: |
         echo $GITHUB_REF
         echo ${GITHUB_REF##*/}
         reference_variable=${GITHUB_REF##*/}
         echo $reference_variable
     
      - name: conditional step
        if: steps.filter.outputs.src == 'true'
        run: echo "Codes in src folder changed."
      
      - name: command git_diff
        run: git diff --name-only HEAD^..HEAD

  call-reusable-workflow:
    uses: kkhatua98/workflow_demo/.github/workflows/called.yml@check
    needs: print-variable
    with:
      branch_name: ${{needs.print-variable.outputs.output1}}
#       branch_name: env.input_branch_name
         
##
