name: caller_workflow

on: 
  workflow_dispatch:
    inputs:
      name: 
        description: "Who to greet"
        default: "A"

env:
  DAY_OF_WEEK: Monday

jobs:
  
  greeting_workflow:
    
    runs-on: ubuntu-latest
    
    
    steps:
    
      - uses: actions/checkout@v2
      
      - name: printing branch name
        run: |
         echo $GITHUB_REF
         echo ${GITHUB_REF##*/}
         reference_variable=${GITHUB_REF##*/}
         echo $reference_variable
     
      - name: conditional step
        if: steps.filter.outputs.src == 'true'
        run: echo "Codes in src folder changed."
      
      - name: command git_diff
        run: git diff

  call-workflow-passing-data:
    uses: ./.github/workflows/called.yml
    with:
      branch_name: ${GITHUB_REF##*/}
         

